/* Buttom Dark/Oscuro */

.nav__btns{
    display: flex;
    align-items: center;
}

.change-theme{
    font-size: 1.25rem;
    color: black;
    margin-right: 1rem;
    cursor: pointer;
}

/* BASE-GERAL */

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

html{ /* suavizando a barra de rolagem*/
}

body{
    margin: 3rem;
    font-family: 'Rubik', sans-serif;
    font-size: .938rem;
    background-color: white;
    color: black;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* LAYOUT-LAYOUT

.container {
    max-width: 768;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.grid {
    display: grid;
    gap: 1.5rem;
} */

/* (Navegaçao) - NAV*/ 

.nav{
    max-width: 968px;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo, .nav__toggle{
font-weight: 500;
}

.nav__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__close {
    position: absolute;
    right: 1.3rem;
    bottom: 5rem;
}

.show-menu{
    bottom: 0;
}

/* Home*/

.home__container{
gap: 1rem;
}

.home__content{
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.home__blob{
    width: 200px;
}

/* Footer - Rodape*/

.footer{
    padding-top: 2rem;
}

.footer__container{
    row-gap: 2rem;
}

.footer__bg{
    padding-top: 2rem 0 3rem;
}

.footer__title{
    margin-bottom: 01.25rem;
}

.footer__links{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.footer__copy{
    font-size: .817rem;
    text-align: center;
    margin-top: 3rem;
}