/* -----VARIABLES CSS----*/

/* Buttom Dark/Oscuro - Claro/Light  ARREGLARRRRRRRRRRRRRRR*/ 
.nav__btns{
    display: flex;
    align-items: center;
}

.change-theme{
    font-size: 1.25rem;
    color: black;
    margin-right: 1rem;
    cursor: pointer;
}

.change-theme:hover{
    color: #ac3115;
}

/* BASE-GERAL */

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0 0 3rem 0;
    font-family: 'Rubik', sans-serif;
    font-size: .938rem;
    color: #ac3115;

}

h1,h2{
    font-weight: 600;
    
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Reusable CSS CLASS*/

.section {
    padding: 2rem 0 4rem;
}

.section__title {
    font-size: 1.5rem;
}

.section__subtitle {
    display: block;
    font-size: .813rem;
    margin-bottom: 3rem;
}

.section__subtitle, .section__title {
    text-align: center;
}

/* LAYOUT-LAYOUT */

.container {
    max-width: 768;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

header{
    width: 100%;
    position:fixed;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: 100;
    display: block;
    color:#ac3115;
} 

/* (Navegaçao) - NAV*/ 

.nav{
    max-width: 968px;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo, .nav__toggle{
font-weight: 500;
color: black; /*no esta cambiando navToggle*/
}

.nav__logo:hover{
    color: green; /*Teste*/
}

.nav__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__toogle{
    font-size: 1.rem;
    cursor: pointer;
}

.nav__toggle:hover{
    color: black;
}

@media screen and (max-width: 767px) {
    .nav__menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: rgb(50, 47, 47);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
}

.nav__list {
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .875rem;
    color: black;
    font-weight: 500;
}

.nav__close {
    position: absolute;
    right: 1.3rem;
    bottom: 5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #ac3115;
}

.nav__close:hover{
    color: green; /*nao ta pegando*/
}

/*---Show Menu---*/
.show-menu{
    bottom: 0;
}

/* Active Link*/
.scroll-header{
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
}



/* Home*/

.home__container{
gap: 1rem;
}

.home__content{
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
    grid-column: 1 / 3;
}

.home__social-icon{
    font-size: 1.25rem;
    color: #ac3115;
}

/*lembra colocar o over color alternativo*/

.home__blob{
    width: 200px;
    fill:black;
}

.home__blob-img{
    width: 195px;
}
.home__img{
    grid-column: 3 / 3;
}

.home__data {
    grid-row: 2 / 3;
    
}

.home__title {
    font-size: 2rem;
}

.home__subtitle{
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 0.75rem;
}

.home__description{
    margin-bottom: 2rem;
}


 .home__scroll-button{
    color: #ac3115;
 }

 .home__scroll-button:hover{
    transform: translate(.25rem);
 }


 .home__scroll-arrow{
    font-size: 1.25rem;
 }

/* ABOUT*/

.about__img{
    width: 200px;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}

/* BUTTONS - Botones*/

.button{
    display: inline-block;
    border-radius: .5rem;
    padding: 1rem;
}

.button__icon{
    font-size: 1.25rem;
    margin-left: 0.5rem;

}

.button--flex{
    display: inline-flex;
    align-items: center;
}

/*==================== ABOUT =====================*/

.about__img{
    width: 200px;
    border-radius: 3rem;
    justify-self: center;
}

.about__description{
    text-align: center;
    margin-bottom: 2.5rem;
}

about__info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
}

.about__info-title{
    font-size: 1.25rem;
    font-weight: 600;
    color: #ac3115;
}

.about__info-name{
    font-size: .75rem;
}

.about__info-title, .about__info-name{
    display: block;
    text-align: center;
}

.about__buttons{
    display: flex;
    justify-content: center;
}

/*=================== SKILLS ==================*/

.skills__container{
    row-gap: 0;
}

.skills__titles{
    display: flex;
    justify-content: space-between;
}

/* CONTACT ME - CONTACTO*/

.contact__container{
    row-gap: 3rem;
}

.contact__information{
    display: flex;
    margin-bottom: 2rem;
}

.contact__icon{
    font-size: 2rem;
    color: #ac3115;
    margin-right: .75rem;
}

.contact__title{
    font-size: 1.125rem;
    font-weight: 500;
}

.contact__/* las clases da tabel estan faltando <<<<<<<<=====*/

/* Footer - Rodape*/

.footer{
    padding-top: 2rem;
}

.footer__container{
    row-gap: 3.5rem;
}

.footer__bg{
    background-color: #ac3115;
    padding-top: 2rem 0 3rem;
}

.footer__title{
    font-size: 1.5rem;
    margin-bottom: 01.25rem;
}

.footer__subtitle{
    font-size: .75rem;
}

.footer__links{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.footer__social{
    font-size: 1.25rem;
    margin-right: 1.5rem;
}

.footer__social:hover{
    color: green;
}

.footer__copy{
    font-size: 1rem;
    text-align: center;
    margin-top: 3rem;
    color: rgb(39, 29, 29)

}

.footer__title, .footer__subtitle, .footer__links, .footer__social {
    color: #fff;
}


/* ---------- MEDIA QUERIES ---------*/

/* For small devices*/
@media screen and (max-width: 350px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .nav__menu{
        padding: 2rem .25rem 4rem;
    }

    .nav__list{
        column-gap: 0;
    }

    .home__content{
        grid-template-columns: .25fr 3fr;
    }

    .home__blob{
        width: 180px;
    }
}

/* For medium devices */
@media screen and (min-width: 568px){
    .home__content{
grid-template-columns: max-content 1fr 1fr;
    }

    .home__data{
        grid-column: initial;
    }

    .home__img{
        order: 1;
        justify-self: center;
    }

}

/* For Large devices*/
@media screen and (min-width: 768px) {
    .container{
        margin-left: auto;
        margin-right: auto;
    }
}

body{
    margin: 0;
}

.section{
    padding: 6rem 0 2rem;
}

.section__subtitle{
    margin-bottom: 4rem;
}

.header{
    top: 0;
    bottom: initial;
}

.header,
.main,
.footer__container{
    padding: 0 1rem;
}

.nav{
    height: 4.5rem;
}

.nav__icon,
.nac__cose,
.nav__toggle{
    display: none;
}

.nav__list{
    display: flex;
    column-gap: 2rem;
}

.nav__menu{
    margin-left: auto;
}

.change-theme{
    margin: 0;
}

.home__container{
    row-gap: 5rem;
}

.home__content{
    padding-top: 5.5rem;
    column-gap: 2rem;
}

.home__blob{
    width: 270px;
}

.home__scroll{
    display: block;
}

.home__scroll-button{
    margin-left: 3rem;
}

/* For X-Large devices*/

@media screen and (min-width: 1024px){
    .header,
    .main,
    .footer__container{
        padding: 0;
    }
}